@model List<Tasks>

<h2>Viewing all tasks assigned to you.</h2>
<p>To view more information and make modifications to a task, please select the button next to the task ID you'd like to edit, and then click the View Selected Task button.</p>
@foreach (Tasks task in Model)
{
        <b>Task ID:</b> @task.TaskId<br />
        <b>Task Description:</b> @task.Description<br />
        <b>Task Due Date:</b> @task.DueDate
        @if (task.Completed == true)
            {
            <p><b>Task Status: </b> Completed<br />
            <a asp-action="MarkIncomplete" asp-controller="ToDoApp" asp-route-id="@task.TaskId">Mark as incomplete?</a></p>
        }
        else
        {
            <p><b>Task Status: </b> Incomplete<br />
            <a asp-action="MarkComplete" asp-controller="ToDoApp" asp-route-id="@task.TaskId">Mark as complete?</a></p>
        }
        }