@model List<Tasks>

<h2>Viewing all tasks assigned to you</h2>

@foreach (Tasks task in Model)
{
    <b>Task ID:</b> @task.TaskId
    <br />
    <b>Task Description:</b> @task.Description
    <br />
    <b>Task Due Date:</b> @task.DueDate
    @if (task.Completed == true)
    {
        <p>
            <b>Task Status: </b> Completed<br />
            <a asp-action="MarkIncomplete" asp-controller="ToDoApp" asp-route-id="@task.TaskId">Mark as incomplete?</a><br />
            <a asp-action="Delete" asp-controller="ToDoApp" asp-route-id="@task.TaskId">Delete task?</a><br />
        </p>
    }
    else
    {
<p>
    <b>Task Status: </b> Incomplete<br />
    <a asp-action="MarkComplete" asp-controller="ToDoApp" asp-route-id="@task.TaskId">Mark as complete?</a><br />
    <a asp-action="Delete" asp-controller="ToDoApp" asp-route-id="@task.TaskId">Delete task?</a>

</p>
    }
}